//variables
$ui-base-color:           #46006b; // purple sky
$ui-secondary-color:      #ffcbfe; // pale sea pink
$ui-primary-color:        #378eef; // blue sky
$ui-highlight-color:      #ca5fc7; // sea pink
$base-border-color:       #ffffff; // white
$simple-background-color: #ffffff; // white
$primary-text-color:      #ffffff; // white
$error-value-color:       #f2581a; // smoke orange
$valid-value-color:       #50a346; // grassy green
$base-shadow-color:       #000000; // black
$base-overlay-background: #000000; // black

$secondary-text-color: lighten($ui-primary-color, 16%);
$highlight-text-color: $ui-secondary-color;


$ui-bg-color:             #10174a; // dark blue
$gold-star:		          #ffd880; // gold
$secondary-highlight-color:    #ffd880;
$tertiary-highlight-color:	  #81e69a; // light green

@import 'application';
@import 'seasonal';

.status__content__read-more-button {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.status__action-bar__counter__label {
  width: auto;
}

img.u-photo {
  border-radius: 10% !important;
  box-shadow: 0 0 0 !important;
}
a.account__header__avatar {
  border-radius: 10% !important;
}

a.local-mention {
  visibility: hidden;
  margin-left: -0.9em;
  
  span {
    visibility: visible;
    white-space: pre-wrap;
    
    &:before {
      visibility: visible;
      background: url("../images/tootplanet-emoji.png") no-repeat;
      background-size: contain;
      width: 1.4em;
      display: inline-block;
      content: " ";
    }
  }
}

.out_of_character {
  color: $ui-primary-color;
}

.community-timeline__section-headline,
.public-timeline__section-headline,
.account__section-headline {
  background: darken($ui-bg-color, 4%);
}

// new hashtag search
.trends__item {
  color: $ui-primary-color
}
.trends__item__name a {
  display: block;
  color: lighten($ui-highlight-color, 12%);
}
.trends__item__current,
.trends__item__sparkline {
    display: none;
}
.search-results__section h5 {
  color: lighten($ui-highlight-color, 12%);
}


// "dark theme" compose box
.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input {
  background: lighten($ui-bg-color, 4%);
  color: $primary-text-color;
}
.compose-form .compose-form__buttons-wrapper,
.compose-form .compose-form__modifiers {
  background: $ui-bg-color;
}

//remove bg on compose column mastodon
.drawer__inner__mastodon {
  background: none;
}

//modify getting started footer
.getting-started {
  background: none;
}

//report interface quickfix
.report-modal__statuses {
  color: $primary-text-color;
}
.status-check-box .status__content {
  white-space: normal;
}

.admin-wrapper .content-wrapper {
  background: $ui-bg-color;
}

//about.scss
.landing-page {

  background: $ui-bg-color url('../images/background-photo.jpg');
  background-size: cover;
  background-attachment: fixed;
  .header-wrapper {
    background: none;

    &.compact {
      background: none;
    }
  }

  .header {
    .hero {
      margin-top: 50px;
      align-items: center;
      position: relative;

      .simple_form,
      .closed-registrations-message {
        background: darken($ui-base-color, 4%);
      }
    }
  }

  .header-wrapper .mascot {
    bottom: 0px;
  }

  .about-short {
    background: $ui-bg-color;
  }
  .features {
    background: none;
    .about-mastodon {
      background: $ui-bg-color;
      padding: 5px;
    }
  }
}

//accounts.scss
.card {
  background: $ui-bg-color;
  background-size: cover;

  &:after {
    background: none;
  }

  .details {
    &:after {
      background: linear-gradient(rgba($base-overlay-background, 0.5), rgba($base-overlay-background, 0.8));
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

body {
  background: $ui-bg-color url('../images/background-photo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

//components.scss
.compose-form {
//  background: lighten($ui-bg-color, 13%);
}

.compose-form__warning {
  a {
    color: $secondary-highlight-color;
  }
}

.reply-indicator__display-name {
  color: $ui-secondary-color;
}

.setting-text {
  color: $ui-secondary-color;

  &:focus,
  &:active {
    color: $primary-text-color;
  }
}

@media screen and (min-width: 631px) {
  .column,
  .drawer  {
    flex: 1 0 auto;
  }
  .drawer {
    max-width: 400px;
  }
}

.column,
.drawer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.status__content,
.reply-indicator__content {
  a {
    color: $tertiary-highlight-color;
    &.mention {
      color: $secondary-highlight-color;
    }
    &.hashtag {
      color: lighten($ui-highlight-color, 12%);
    }
    .fa {
      color: lighten($ui-primary-color, 10%);
    }
  }
  .fa {
    color: lighten($ui-primary-color, 10%);
  }
}

.status__content__spoiler-link {
  color: $ui-secondary-color;
}

.status__prepend-icon-wrapper {
  color: $ui-highlight-color;
}

.focusable {
  &:focus {
    background: lighten($ui-bg-color, 4%);

    &.status-direct {
      background: lighten($ui-bg-color, 12%);
    }

    .detailed-status,
    .detailed-status__action-bar {
      background: lighten($ui-bg-color, 8%);
    }
  }
}

.status {
 &.status-direct {
    background: lighten($ui-bg-color, 8%);
    .icon-button.disabled {
      color: $ui-secondary-color;
    }
    &:not(.read) {
      background: lighten($ui-bg-color, 12%);
    }
  }
}

.status__relative-time {
  color: lighten($ui-primary-color, 16%);
}

.status__display-name {
  color: lighten($ui-primary-color, 16%);
  .muted {

  }
}

.status-check-box {
  border-bottom: 1px solid lighten($ui-base-color, 8%);
  display: flex;
  .status__content {
    background: lighten($ui-bg-color, 4%);
    flex: 1 1 auto;
    padding: 10px;
  }
}

.status__prepend {
  color: $ui-highlight-color;
  .status__display-name strong {
    color: $ui-highlight-color;
  }
}

.status__display-name,
.account__display-name {
  strong {
    color: $primary-text-color;
  }

  &.muted {
    .emojione {
      opacity: 1;
    }
  }
}

.detailed-status {
  background: lighten($ui-bg-color, 4%);
 &.status-direct {
    background: lighten($ui-bg-color, 8%);
    .icon-button.disabled {
      color: $ui-secondary-color;
    }
  }
}
.detailed-status__meta {
  color: lighten($ui-primary-color, 26%);
}
.detailed-status__action-bar {
  background: lighten($ui-bg-color, 4%);
  border-top: 1px solid lighten($ui-bg-color, 8%);
}

.reply-indicator__content {
  background: $ui-bg-color;
  color: lighten($ui-primary-color, 20%);
  a {
    color: lighten($secondary-highlight-color, 10%);
  }
}

.reply-indicator {
  background: $ui-bg-color;
}

.account__action-bar__tab {
  strong {
    color: $ui-secondary-color;
  }
}

.status__display-name,
.account__display-name {
  strong {
    color: $ui-secondary-color;
  }
}

.detailed-status__display-name {
  color: $ui-primary-color;
  strong {
    color: $ui-secondary-color;
  }
}


.muted {
  .status__content p {
    color: lighten($ui-primary-color, 26%);		
  }		
  .status__content a {
    color: $secondary-highlight-color;
  }
  .status__display-name strong {
    color: lighten($ui-primary-color, 10%);
  }
  a.status__content__spoiler-link {
    color: $ui-secondary-color;
  }
}

.account__header .account__header__fields {
  dd,
  dt {
    padding: 2px 5px;
  }
}

.notification__favourite-icon-wrapper {
  .star-icon {
    color: $gold-star;
  }
}

.icon-button .active {
  .fa-star {
    color: $gold-star;
  }
}

.notification__display-name {
  &:hover {
    color: $ui-primary-color;
  }
}

.navigation-bar {
  background: $ui-bg-color;
  color: $ui-secondary-color;
}

.column {
  > .scrollable {
    background: $ui-bg-color;
  }
}

.ui {
  background: transparent;
}

body.app-body {
  background: $ui-bg-color url('../images/background-photo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.drawer__tab {
  color: $ui-secondary-color;
}

.drawer__inner {
  background: none;
  &.darker {
    background: $ui-bg-color;
  }
}

.pseudo-drawer {
  background: lighten($ui-bg-color, 13%);
}

.column-back-button {
  color: $ui-secondary-color;
}
.column-back-button__icon {
  color: $ui-highlight-color;
}

.column-subheading {
  color: $ui-secondary-color;
}

.character-counter--over {
  color: $error-value-color;
}

.getting-started {
  a {
    color: $ui-highlight-color
  }
}

.status-card {
  &:hover {
    background: lighten($ui-bg-color, 8%);
  }
}
.status-card__image {
  background: lighten($ui-bg-color, 8%);
}
.load-more {
  &:hover {
    background: lighten($ui-bg-color, 8%);
  }
}

.account--panel {
  background: lighten($ui-bg-color, 4%);
}
.column-settings__outer {
  background: lighten($ui-bg-color, 8%);
}

.column-settings__section {
  color: $ui-secondary-color;
}

.column-header__icon {
  color: $ui-secondary-color;
}

.empty-column-indicator {
  background: $ui-bg-color;
  a {
    color: $secondary-highlight-color;
  }
}

.upload-area__background {
  background: $ui-bg-color;
}
.upload-progress__backdrop {
  background: $ui-bg-color;
}

.search-results__header {
  color: $ui-secondary-color;
}

.search-results__hashtag {
  color: $secondary-highlight-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $secondary-highlight-color;
    text-decoration: underline;
  }
}

.search__input {
  background: $ui-bg-color;
  &:focus {
    background: lighten($ui-bg-color, 4%);
  }
}

.column-icon {
  background: lighten($ui-base-color, 4%);
  color: $ui-secondary-color;
  &:hover {
    color: lighten($ui-secondary-color, 7%);
  }
}

.onboarding-modal__page-two,
.onboarding-modal__page-three,
.onboarding-modal__page-four,
.onboarding-modal__page-five {
  .figure {
    background: darken($ui-bg-color, 8%);
  }
}

// changes background image for mobile view
@media screen and (max-width: 630px) {
 .landing-page,
 body,
 body.app-body { background: $ui-bg-color url('../images/background-photo-mobile.png'); }
}

// recolors front page
.column-1,
.column-2,
.column-3,
.column-4,
.landing-page__information {
  background: none;
}