$color1: #52007b; // darkest, purple sky
$color2: #ffcbfe; // lightest, pale sea pink
$color3: #1873ef; // lighter, blue sky
$color4: #ca5fc7; // vibrant, sea pink
$color5: #ffffff; // white
$color6: #f2581a; // error, smoke orange
$color7: #50a346; // success, grassy green
$color8: #000000; // black